<!DOCTYPE html>
<html lang="he" dir="rtl">

<head>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>עריכת קולאז׳</title>

<link rel="stylesheet" href="/static/style.css">


<style>

.editor {

    position: relative;
    width: 90vw;
    max-width: 600px;
    aspect-ratio: 1;
    margin: 30px auto;
    overflow: hidden;

}


.layer {

    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: contain;

    top: 0;
    left: 0;

}


#grid {

    cursor: grab;
    touch-action: none;

}


#overlay {

    pointer-events: none;

}


#drag-area {

    position: absolute;
    inset: 0;

}


</style>


</head>


<body>


<div class="editor">


<img
id="grid"
class="layer"
src="/{{ grid_path }}">


<img
id="overlay"
class="layer"
src="/{{ overlay_path }}">


<div id="drag-area"></div>


</div>



<button
id="create"
class="button">

צור קולאז׳

</button>



<script>


document
.getElementById("create")
.addEventListener(
"click",
async function(){


    const grid = document.getElementById("grid");


    // לוקח את ה-transform האמיתי מהדפדפן

    const transform =
        getComputedStyle(grid).transform;



    console.log(
        "TRANSFORM:",
        transform
    );



    await fetch(
        "/save_transform",
        {

            method: "POST",

            headers: {
                "Content-Type": "application/json"
            },

            body: JSON.stringify(
                {
                    transform: transform
                }
            )

        }
    );



    window.location.href =
        "/generate";


});


</script>


</body>

</html>
