<!DOCTYPE html>
<html lang="he" dir="rtl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>בואו נבנה קולאז׳</title>

    <link rel="stylesheet" href="/static/style.css">
</head>


<body>

    <div class="container">

        <h1>
            בואו נבנה קולאז׳ ❤️
        </h1>


        <p>
            בחר תמונות מ-Google Photos
            ואנחנו ניצור לך קולאז׳ אוטומטי
        </p>


        <a href="/login" class="button">
            בחר תמונות מ-Google Photos
        </a>


    </div>


</body>

</html>
